#board{
    -fx-background-color: #150b23;
}

#Butt0{
    -fx-background-color: transparent;
}
#Butt1{
    -fx-background-color: transparent;
}
#Butt2{
    -fx-background-color: transparent;
}
#Butt3{
    -fx-background-color: transparent;
}
#Butt4{
    -fx-background-color: transparent;
}
#Butt5{
    -fx-background-color: transparent;
}
#Butt6{
    -fx-background-color: transparent;
}
#Butt7{
    -fx-background-color: transparent;
}
#Butt8{
    -fx-background-color: transparent;
}

